body{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header1{
    border-bottom: #bcedff 10px solid;
}
.header img{
    margin-top: 4vw;
}
.header h1{
    color: white;
    font-size: 2.8vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    
}
.header h2{
    color: white;
    font-size: 2vw;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 5vw;
}
.intro{
    color: white;
    width: 50%;
    margin: auto;
    font-size: 1vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-weight: 400;
    padding: 3vw;
}
.intro p{
    /* background-color: rgb(41, 128, 185, 0.5);*/
}
li{
    margin-top: 1vw;
}
a{
    font-weight: 700;
    color:rgb(4, 255, 242) !important;
}
a:visited{
    font-weight: 700;
}
img{
    display: block;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
h3{
    color: white !important;
    font-size: 2.3vw !important;
    padding-bottom: 0.5vw;
    border-bottom:#FFFFFF 3px solid;
    background-color: rgba(0, 0, 0, 0.4);
}
svg{
    margin-top: 2vw;
    visibility: hidden;
}
.footer{
background-color: #08355f;
display: flex;
justify-content: flex-end;
}
ol{
    margin-left: 30%;
}

@media only screen and (max-width: 1800px) and (min-width: 1100px){
    h1{
        font-size: 4vw !important;
    }
    h2{
        font-size: 3vw !important;
    }
    h3{
        font-size: 2.8vw !important;
    }
    .intro{
    width: 70%
    }
    .intro p{
        font-size: 1.5vw !important;
    }
    li{
        font-size: 1.5vw !important;
    }
}
@media only screen and (max-width: 1600px) and (min-width: 1100px){
    .intro{
    padding: 5vw;
    }
}
@media only screen and (max-width: 1099px) and (min-width: 600px){
    img.logo{
        width: 25vw;

    }
    h1{
        margin-top: 1vw !important;
        font-size: 4.5vw !important;
    }
    h2{
        font-size: 3.5vw !important;
        margin-top: 2vw !important;
    }
    h3{
        font-size: 4vw !important;
    }
    .intro{
    width: 80%
    }
    .intro p{
        font-size: 2vw !important;
    }
    li{
        font-size: 2vw !important;
    }
}
@media only screen and (max-width: 599px) {
    img.logo{
        width: 40vw;
    }
    .header1{
        border-bottom: #bcedff 5px solid;
    }
.header{
    background-image: url("./images/jiu2.png") !important;
    padding: 5vw;
}
    h1{
        margin-top: 1vw !important;
        font-size: 8vw !important;
    }
    h2{
        text-align: center !important;
        font-size: 4.6vw !important;
        margin-top: 2vw !important;
    }
    h3{
        font-size: 6vw !important;
    }
    .intro{
        margin-top: 8vw;
        width: 80%;
        padding: 5vw;
    }
    .intro p{
        font-size: 3.4vw !important;
    }
    li{
        font-size: 3.4vw !important;
    }
    svg{
        max-width: 10% !important;
        margin-top: 0 !important;
        margin-bottom:0;
        height: 20vw !important;
    }
}